#link{
    width: 80%;
    height: 50px;
    border-radius: 5px;

}

#link::placeholder{
    padding-left: 30px;
}
/* edit the text in input  */
#link:focus, #link:valid{
    outline: none;
    border: 1px solid #0ef;
    box-shadow: 0 0 5px #0ef;
    padding: 30px;
}


.btn-1{
    visibility: hidden !important;
}

.btn-2{
    margin-top: 20px !important;
    margin-right: 10px !important;
    background-color: #0ef !important;
    color: #081b29 !important;
    border: none !important;
}

.container__url{

    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;

}
.short__url{
    position: relative;
    width: 80% !important;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    top: -100px;
    justify-self: center;
    justify-content: center;
    text-align: center;

}

#short{
    width: 80% !important;
    justify-self: center;
    color: #081b29;
}